
@font-face {
    font-family: 'Alet';
    src: url('../fonts/Alethiaproregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
  @font-face {
    font-family: 'Lato L';
    src: url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }
  @font-face {
    font-family: 'Lato M';
    src: url('../fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }
  @font-face {
    font-family: 'Lato R';
    src: url('../fonts/ALato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }