@media (max-width: 1500.98px) { 
    .map{
        padding-left:0 ;
    }
 }
@media (max-width: 1450.98px) { 
    .sale__right_title {
        font-size: 40px;
    }
    .sale__right_title {
        font-size: 30px;
    }
 }
@media (max-width: 1399.98px) { 
    .header{
        padding-top: 200px;
    }
    .sale__right_subtitle {
        font-size: 15px;
    }
    .sale__right_title {
        font-size: 25px;
    }
    .sale__wraper{
        margin-right: 30px;
    }
    .sale__right_procent {
        font-size: 30px;
    }
    .metka_second {
        left: 457px;
        bottom: 421px;
    }
    .metka__first{
        bottom: 112px;
        left: 317px;
    }
    .metka_third {
        bottom: 543px;
        left: 569px;
    }
 }
 @media (min-width: 1400px){
    .col-xxl-4 {
        width: 32%
    }
    }
 @media (min-width: 1200px){
    .col-xl-4 {
    width: 32% !important;
    }
 }
 @media (min-width: 768px){
 .col-md-6 {
     width: 48%;
      }
 }

@media (max-width: 1199.98px) {
    .header{
        padding-top: 150px;
    }
    .header__logo img{
        width: 86%;
    } 
    .header__logo {
        margin-bottom: 20px;
    }
    .header__line {
        margin-bottom: 20px;
    }
    .header__card {
        height: 370px;
    }
    .header__subtitle {
        max-width: 170px;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .sale__left img {
        width: 380px;
        height: 90%;
        padding-top: 51px;
    }
    .sale {
        padding: 80px 100px 80px 56px;
    }
    .sale__right_procent {
        font-size: 22px;
    }
    .sale__right_title {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .sale__right_subtitle {
        margin-bottom: 25px;
    }
    .sale__right_wrapper {
        margin-bottom: 25px;
    }
    .top .top__wrapper_block:last-child{
        margin-top: 15px !important ;
        margin: 0 auto;
    }
    .metka{
        display: none;
    }
    .map .container{
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }
    .map__title{
        margin-left: 30px;
    }
 }
 @media (max-width: 991.98px) { 
    .header{
        padding-top: 120px;
    }
    .sale {
        padding: 80px 50px;
    }
    .sale__wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;
    }
    .sale__wraper {
        margin-right: 0;
    }
    .sale__left img {
        height: 395px;
        padding-top: 0;
        width: 455px;
     }
     .sale__left {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .sale__right_title {
        text-align: center;
    }
    .sale__right_subtitle{
        text-align: center;
    }
     .sale__right {
        padding-top: 0;
    }
     .sale__right_title {
        font-size: 17px;
        margin-bottom: 10px;   
    }
    .map__title{
        margin-top: 0;
    }

 }
 @media (max-width: 767.98px) { 
    .header{
        padding-top: 100px;
    }
    .top__wrapper_img {
        width: 400px;
        height: 488px;
    }
    .top__wrapper_block{
        width: 430px;
    }
    .top .top__wrapper_block:last-child {
        margin: 0;
        margin-top: 0 !important;
    }
    .top__wrapper_block:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
        
    }
    .row{
        align-items: center;
        justify-content: center;
    }
    .sale {
        padding-bottom: 0;
    }
    .top__title {
        margin-bottom: 25px;
    }
    .top {
        padding-bottom: 0px;
    }
    .map .container {
    max-width: 100%;
    }
    .map__title {
        font-size: 30px;
        margin-top: 40px;
    }

  }
  @media (max-width: 575.98px) { 
    .header{
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__card{
       width: 100%;
       margin: 0 !important;
    }
    .header__logo {
        margin-bottom: 15px;
    }
    .header__line {
        margin-bottom: 15px;
    }
    .header__subtitle {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .header__conditions_procent {
        font-size: 13px;
    }
    .header__conditions {
        margin-bottom: 25px;
    }
    .sale__left img {
        height: 260px;
        width: 300px;
    }
    .sale {
        padding: 15px;
        padding-top: 25px;
    }
    .sale__right_procent {
        font-size: 16px;
    }
    .sale__right_subtitle {
        margin-bottom: 15px;
    }

    .sale__right_desc {
        font-size: 13px;
        line-height: 12px;
    }
    .sale__right_wrapper {
        margin-bottom: 15px;
    }
    .sale__right {
        padding-bottom: 25px;
    }
    .sale__button{
        text-align: center;
    }
    .top__title {
    font-size: 25px;
    margin-bottom: 18px;
    }
    .top__wrapper_block {
        width: 300px;
    }
    .top__wrapper_block:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .top .top__wrapper_block:last-child {
        margin-top: 0 !important;
        margin: 0 ;
    }
    .row{
        align-items: center;
        justify-content: center;
    }
    .top__wrapper_img {
        width: 100%
    }
    .map .container{
        margin-right: 0;
        margin-left: 0;
    }
    .map__title{
        margin-left: 30px;
    }
    .top {
        padding-bottom: 0;
    }
    .map__title {
        margin-left: 30px;
    }
    .map__title {
        font-size: 24px;
        margin-top: 100px;
        max-width: 250px;

    }
   }