@media (max-width: 1500.98px) { 
    .map{
        padding-left:0 ;
    }
 }
@media (max-width: 1450.98px) { 
    .sale__right_title {
        font-size: 40px;
    }
    .sale__right_title {
        font-size: 30px;
    }
 }
@media (max-width: 1399.98px) { 
    .header{
        padding-top: 200px;
    }
    .sale__right_subtitle {
        font-size: 15px;
    }
    .sale__right_title {
        font-size: 25px;
    }
    .sale__wraper{
        margin-right: 30px;
    }
    .sale__right_procent {
        font-size: 30px;
    }
    .metka_second {
        left: 457px;
        bottom: 421px;
    }
    .metka__first{
        bottom: 112px;
        left: 317px;
    }
    .metka_third {
        bottom: 543px;
        left: 569px;
    }
    .flats__offer{
        width: 77%;
      }
      .flats__offer_wrapper {
        padding: 15px 10px 25px 10px;
        width: 95%;
        margin-right: 0 !important;
    }
    .flats__offer_img1,.flats__offer_img2,.flats__offer_img3{
        width: 88.5%;
    }
    .fa-long-arrow-left {
        left: 547px;
        bottom: 228px;
    }
    .fa-long-arrow-right {
        left: 689px;
        bottom: 228px;
    }
    .flats__offer_footer {
        width: 88.5%;
    }
    .flats__content {
        padding: 20px 30px 30px 15px;
        max-width: 250px;
    }
    .flats__content_subtitle label{
        font-size: 22px;
    }
    .flats__content_subtitle label, .flats__content_subtitle {
        font-size: 15px;
    }
    .flats__content_subtitle:not(:last-child) {
        margin-bottom: 13px;
    }
    .footer__menu-number span {
        font-size: 16px;
    }
    .footer__girl {
        bottom: -80px;
        left: -15px;
    }
    .footer__girl img {
        width: 95%;
        height: 285px;
    }
    .footer__logo img{
        width: 95%;
    }
    .footer__menu-link ul {
        width: 296px;
        font-size: 12px;
    }
    .project__text {
        width: 600px;
        font-size: 15px;
        top: 523px;
        left: 497px;
    }
    .gallery__wrapper {
        grid-template-rows: repeat(2,205px);
        column-gap: 7px;
        row-gap: 14px;
    }
 }
 @media (min-width: 1400px){
    .col-xxl-4 {
        width: 32%
    }
    }
 @media (min-width: 1200px){
    .col-xl-4 {
    width: 32% !important;
    }
 }
 @media (min-width: 768px){
 .col-md-6 {
     width: 48%;
      }
      .flats__content_wrapper label{
        /* font-size: 20px; */
      }
      
 }

@media (max-width: 1199.98px) {
    .header{
        padding-top: 150px;
    }
    .header__logo img{
        width: 86%;
    } 
    .header__logo {
        margin-bottom: 20px;
    }
    .header__line {
        margin-bottom: 20px;
    }
    .header__card {
        height: 370px;
    }
    .header__subtitle {
        max-width: 170px;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .sale__left img {
        width: 380px;
        height: 90%;
        padding-top: 51px;
    }
    .sale {
        padding: 80px 100px 80px 56px;
    }
    .sale__right_procent {
        font-size: 22px;
    }
    .sale__right_title {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .sale__right_subtitle {
        margin-bottom: 25px;
    }
    .sale__right_wrapper {
        margin-bottom: 25px;
    }
    .top .top__wrapper_block:last-child{
        margin-top: 15px !important ;
        margin: 0 auto;
    }
    .metka{
        display: none;
    }
    .map .container{
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }
    .map__title{
        margin-left: 30px;
    }

    .flats__offer{
        width: 74%;
      }
      .flats__offer_wrapper {
        padding: 15px 10px 25px 10px;
        width: 95%;
        margin-right: 0 !important;
    }
    .flats__offer_img1,.flats__offer_img2,.flats__offer_img3{
        width: 100%;
    }
    .fa-long-arrow-left {
        left: 117px;
        bottom: 402px;
    }
    .fa-long-arrow-right {
        left: 252px;
        bottom: 402px;
    }
    .flats__offer_footer {
        width: 100%;
    }
    .flats__content {
        padding: 20px 30px 30px 15px;
        max-width: 250px;
    }
    .flats__content_subtitle label{
        font-size: 22px;
    }
    .flats__content_subtitle label, .flats__content_subtitle {
        font-size: 15px;
    }
    .flats__content_subtitle:not(:last-child) {
        margin-bottom: 13px;
    }
    .offer__slider-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .offer__slide{
        margin-bottom: 20px;
    }
    .offer__slider-descr{
        width: 554px;
    }
    .flats__offer_content {
        width: 100%;
    }
    .payment__block-title {
        font-size: 35px;
        margin-bottom: 5px;
    }
    .payment__block-content {
        padding: 30px;
        width: 550px;
        height: 360px;
    }
    .payment__block-line {
        margin-bottom: 18px;
    }
    .payment__block {
        position: relative;
        margin-bottom: 150px;
    }
    .payment__block-addition {
        top: 39%;
    }
    .footer__girl {
        left: 86px;
    }
    .footer__menu-number span {
        font-size: 11px;
    }
    .payment {
        padding-bottom: 0px;
    }
    .modal__wrapper-block {
        width: 800px;
      }
    .modal__wrapper-brochure {
        width: 50%;
        padding: 50px ;
    }
    .input__brochure {
        width: 70%;
    }
    .input__brochure-submit {
        width: 70%;
    }
    .modal__emaar img{
        width: 95%;
    }
    .contact-wrapper {
        width: 100px;
    }
    .modal__wrapper-social{
        width: 200px;
    }
    .modal__wrapper-contact{
        padding-top: 177px;
    }
    .modal__wrapper-h4{
        text-align: left;
    }
    .modal__wrapper-brochure {
        padding-left: 50px !important;
    }
    .modal__wrapper-h3{
        text-align: left;
    }
    .modal__wrapper-contact2{
        display: none;
    }
    .modal__wrapper-block {
        width: 550px;
    }
    .close-btn2 {
        top: 0;
        transform: rotate(-90deg);
        top: 16px;
        left: 88px;
    }
    .modal__wrapper-block2 {
        width: 800px;
    }
    .project__block {
        top: 70px;
        left: 70px;
    }
    .project__text {
        width: 407px;
        top: 430px;
        left: 416px;
    }
    .gallery__wrapper {
        grid-template-rows: repeat(2,169px);
        column-gap: 7px;
        row-gap: 14px;
    }
 }
 @media (max-width: 991.98px) { 
    .header{
        padding-top: 120px;
    }
    .sale {
        padding: 80px 50px;
    }
    .sale__wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;
    }
    .sale__wraper {
        margin-right: 0;
    }
    .sale__left img {
        height: 395px;
        padding-top: 0;
        width: 455px;
     }
     .sale__left {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .sale__right_title {
        text-align: center;
    }
    .sale__right_subtitle{
        text-align: center;
    }
     .sale__right {
        padding-top: 0;
    }
     .sale__right_title {
        font-size: 17px;
        margin-bottom: 10px;   
    }
    .map__title{
        margin-top: 0;
    }

    .offer__slider-descr {
        width: 445px;
    }
    .offer__slider-counter {
        margin-right: 30px;
        font-size: 20px;
    }
    .fa-long-arrow-left {
        left: 102px;
        bottom: 395px;
        width: 35px;
    }
    .fa-long-arrow-right{
        left: 183px;
        bottom: 396px;
        width: 35px;
    }
    .text__slider-title {

        font-size: 23px;
    }
    .top__offer_title {
        font-size: 25.4536px;
    }
    .flats__offer {
        width: 65%;
    }
    .offer__slide img{
        width: 100%;
    }
    .offer__slider-descr {
        width: 100%;
    }
    .prev3 img, .next3 img{
        bottom: 383px
    }
    .payment__block-img img{
        width: 100%;
    }
    .tg-text, .wa-text {
        font-size: 15px;
    }
    .footer__menu-number span {
        font-size: 15px;
    }
    .footer__menu-number span {
        font-size: 10px;
    }
    .prefooter .container{
        justify-content: flex-start !important;
    }
    .call input {
        width: 150px;
    }
    .modal__wrapper-block {
        width: 730px;
    }
    .modal__wrapper-brochure {
        padding: 15px;
    }
    .close-btn {
        width: 40px;
        top: 150px;
    }
    .modal__wrapper-social{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .modal__wrapper-contact {
        padding-top: 154px;
    }
    .modal__wrapper-h4{
        text-align: left;
    }
    .close-btn2 {
        top: 0;
        transform: rotate(-90deg);
        top: -25px;
        left: 95px;
    }
    .modal__wrapper-block{
        width: 500px;
    }
    .modal__wrapper-block {
        width: 550px;
    }
    .modal__wrapper-block2 {
        width: 710px;
    }
    .project__text {
        width: 300px;
        top: 350px;
        left: 395px;
    }
    .project__block-descr {
        font-size: 24px;
    }
    .project__block {
        height: 540px;
    }
    .map__view-block2::before {
        left: 26%;
    }
    .map__view-img2::before {
        left: 26%;
    }
    .map__view-subtitle, .map__view-subtitle2 {
        font-size: 25px;
    }
    .map__view-title, .map__view-title2 {
        font-size: 18px;
    }
    .map__view {
        padding-top: 380px;
    }
    .gallery__wrapper {
        grid-template-rows: repeat(2,123px);
        column-gap: 5px;
    }
 }
 @media (max-width: 767.98px) { 
    .header{
        padding-top: 100px;
    }
    .top__wrapper_img {
        width: 400px;
        height: 488px;
    }
    .top__wrapper_block{
        width: 430px;
    }
    .top .top__wrapper_block:last-child {
        margin: 0;
        margin-top: 0 !important;
    }
    .top__wrapper_block:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
        
    }

    .sale {
        padding-bottom: 0;
    }
    .top__title {
        margin-bottom: 25px;
    }
    .top {
        padding-bottom: 0px;
    }
    .map .container {
    max-width: 100%;
    }
    .map__title {
        font-size: 30px;
        margin-top: 40px;
    }
    .flats .container{
        flex-direction: column;
        align-items: center;
    }
    .flats__offer_footer{
        padding: 10px 15px;
    }
    .top__offer_title {
        font-size: 16px;
    }
    .top__offer_subtitle {
        font-size: 13.1753px;
        line-height: 20px;
    }
    .top .row {
        --bs-gutter-x: 0;
        justify-content: center;
        align-items: center;
    }
    .flats__content {
        padding: 15px 20px 20px 15px;
        width: 400px !important;
        margin-bottom: 20px;
    }
    .flats__content_wrapper{
        margin-bottom: 0;
    }
    .flats__content_wrapper{
        margin-bottom: 15px;
    }
    .text__slider-title {
        font-size: 15px;
    }
    .fa-long-arrow-left {
        left: 138px;
        bottom: 410px !important;
        width: 27px;
    }
    .fa-long-arrow-right {
        left: 222px;
        bottom: 410px;
        width: 27px;
  }
  .prev3 img, .next3 img{
    bottom: 340px
}
.offer_button button {
    width: 200px;
    padding: 11px 25px;
    font-size: 14px;
}
.flats .container {
    flex-direction: column;
    align-items: start !important;
    justify-content: start !important;
}
.flats__offer {
    width: 100%;
}
.flats {
    padding-bottom: 0px;
}
.payment__block-content {
    padding: 30px;
    backdrop-filter: blur(-1.5px);
    width: 545px;
    height: 350px;
    position: absolute;
    top: 16%;
    right: -13px;
 }
 .payment__block-2 .payment__block-content{
   left: 10px;
 }
 .footer__girl {
    display: none;
}
.footer__menu {
    margin-left: 0;
}
.footer__menu-number span {
    font-size: 11px;
}
.speak__call form{
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.speak__subtitle-decr {
    width: 300px;
    font-size: 16px;
}
.call input {
    width: 100%;
    margin-right: 0px !important;
}
.modal__wrapper-contact {
    display: none;
}
.modal__wrapper-block {
    width: 400px;
}
.close-btn {
    right: -200px;
}
.modal__wrapper-block {
    padding-top: 0;
}

.modal__wrapper-block {
 margin: 30 auto;
}
.modal__wrapper-wrapper{
    background-image: none;
  }
  .modal__wrapper-block {
    width: 552px;
}
.project__text {
    
}
.project__block {
    top: 15px;
    left: 15px;
}
.project__text {
    width: 208px;
    top: 280px;
    left: 336px;
}
.map__view-subtitle::after {
    right: 78px;
}
    .gallery__wrapper{
    display: flex;
    flex-direction: column ;
  }


 }

  @media (max-width: 575.98px) { 
    .header{
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__card{
       width: 100%;
       margin: 0 !important;
    }
    .header__logo {
        margin-bottom: 15px;
    }
    .header__line {
        margin-bottom: 15px;
    }
    .header__subtitle {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .header__conditions_procent {
        font-size: 13px;
    }
    .header__conditions {
        margin-bottom: 25px;
    }
    .sale__left img {
        height: 260px;
        width: 300px;
    }
    .sale {
        padding: 15px;
        padding-top: 25px;
    }
    .sale__right_procent {
        font-size: 16px;
    }
    .sale__right_subtitle {
        margin-bottom: 15px;
    }

    .sale__right_desc {
        font-size: 13px;
        line-height: 12px;
    }
    .sale__right_wrapper {
        margin-bottom: 15px;
    }
    .sale__right {
        padding-bottom: 25px;
    }
    .sale__button{
        text-align: center;
    }
    .top__title {
    font-size: 25px;
    margin-bottom: 18px;
    }
    .top__wrapper_block:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .top .top__wrapper_block:last-child {
        margin-top: 0 !important;
        margin: 0 ;
    }
    .top {
        text-align: center;
    }
    .top__wrapper_block{
        width: 300px;
    }
 
    .top__wrapper_img {
        width: 100%
    }
    .map .container{
        margin-right: 0;
        margin-left: 0;
    }
    .map__title{
        margin-left: 30px;
    }
    .top {
        padding-bottom: 0;
    }

    .map__title {
        margin-left: 30px;
    }
    .map__title {
        font-size: 24px;
        margin-top: 100px;
        max-width: 250px;
    }

    .flats__offer_wrapper {
        padding: 15px 10px 25px 10px;
    }
    .text__slider-title {
        margin-left: 15px;
    }

    .flats .container {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .fa-long-arrow-right {
        left: 90px;
        bottom: 325px;
        width: 21px;
    }
    .fa-long-arrow-left {
        left: 23px;
        bottom: 325px !important;
        width: 21px;
    }
    .prev2 img{
        bottom:314px !important;
    }
    .next2 img{
        bottom:314px !important;
    }
    .prev3 img{
        bottom:302px !important;
    }
    .next3 img{
        bottom:302px !important;
    }
    .text__slider-title {
        margin-left: 9px;
        font-size: 14px;
    }
    .offer__slider-descr {
        padding: 15px;
        font-size: 13px;
    }
    .offer__slider-title {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .flats__offer {
        width: 274px;
    }
    .payment__block-content {
        padding: 10px;
        backdrop-filter: blur(-1.5px);
        width: 300px;
        height: 320px;
        position: absolute;
        top: 16%;
        right: 16px;
    }
    .payment__block-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .payment__block-line {
        margin-bottom: 11px;
    }
    .payment__block-subtitle {
        font-size: 14px;
    }
    .payment__block {
        margin-bottom: 230px;
    }
    .payment__block-subtitle {
        margin-bottom: 17px;
    }
    .payment__block-addition{
        height: 350px;
    }
    .footer__menu {
        width: 300px;

    }
    .footer {
        padding: 40px 10px;
    }
    .footer__menu {
        margin-right: 0px;
    }
    .footer__logo{
        display: none;
    }
    .footer .container{
        justify-content: center !important;
        align-items: center !important;
    }
    .footer__menu-number span {
        font-size: 10px;
    }
    .speak__title {
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .speak__subtitle {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }
    .speak__subtitle {
        display: flex;
        flex-direction: column;
    }
    .speak__subtitle-decr {
        margin-top: 15px;
        margin-right: 0;
    }
    .call input {
        width: 95%;
    }
    .prefooter .container {
        justify-content: center !important;
    }
    .prefooter input[type="submit"]{
        margin-top: 20px;
    }
    .close-btn {
        top: -125px !important;
        transform: rotate(-90deg);
        left: 40px;
    }
    .modal__wrapper-content2 {
        width: 0;
     }
     .modal__wrapper-brochure2{
        padding-left: 0 !important;
     }
     .brochure-wrapper2 {
        padding: 46px 15px;
        width: 300px;
        margin: 0 auto;
        height: 460px;
        margin-top: 100px;
    
    }
    .brochure-wrapper2 .modal__wrapper-h3 {
        font-size: 20px;
    }
    .brochure__link-wrapper{
        width: 270px;
        font-size: 11px;
    }
    .brochure__link-wrapper li a{
        font-size: 11px;
    }
    .modal__offer .modal__wrapper-block{
        width: 300px;
        height: 400px;
    }
    .close-btn2 {
        top: 76px !important;
        transform: rotate(-90deg);
        left: 220px;
        padding: 0;
    }
    .project__text {
        display: none;
    }
    .project__block {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 500px;
    }
    .project__block-button{
        margin-left: 25px;
    }
    .project__block{
        
        width: 320px;
        padding: 10px 10px 10px 30px;
    }
    .map__view-second {
        width: 284px;
    }
    .map__view {
        padding-top: 450px;
    }
    .map__view-title, .map__view-title2 {
        font-size: 13px;
    }
    .map__view-subtitle, .map__view-subtitle2 {
        font-size: 16px;
    }
    .button__map button {
        width: 100px;
        margin-left: 19px;

    }
    .main__line {
        width: 87%;
    }
    .second_block::after {
        height: 67px !important;
    }
    .third_block::after {
        height: 66px !important;
    }
    .map__view-subtitle::after {
        display: none;
    }
    .map__view-img2::before {
        display: none;
    }
    .first_block::after {
        height: 71px !important;
    }
    /* .modal__wrapper-block {
        width: 300px;
    } */
   }