@import url('./fonts.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Alet', sans-serif !important;
  font-weight: 400;
  background: white;
  position: relative;
  font-family: '';
}
a {
  text-decoration: none;
  color:white
}
a:hover{
  color:unset;
}
ul {
  list-style-type: none !important;
  padding: 0;
}
.hide{
  display: none;
}
.show{
    display: block;
  }
.present{
    display: inline-block;
  }
.cover{
  display: none;
}
.container{
  padding: 0;
}
.line{
  background: #777777;
  opacity: 0.2;
  width: 1px;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.line_left{
  left: 384px;
}
.line_center{
  left: 783px;
}
.line_right{
  right:367px;
}
.header{
  padding: 309px 0px 70px 70px;
  background:url('../images/firstScreen/JPEG/bg_main\ 1.jpg') center center / cover no-repeat;
  position: relative;
  z-index: 4;
}
.header__card{
  width: 382px;
  height: 431px;
  padding: 30px 51px 50px 30px;
  background: rgba(7, 28, 53, 0.5);
  backdrop-filter: blur(7.5px);
}
.header__logo{
  margin-bottom: 30px;
  display: inline-block;
}
.header__line{
  height: 1px;
  width: 100px;
  background: white;
  margin-bottom: 30px;
}
.header__subtitle{
  max-width: 210px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.header__conditions_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header__conditions_procent{
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 40px;
}
.header__conditions_desc{
  width: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  font-family: 'Lato R';
}
.header__conditions{
  margin-bottom: 50px;
}
.header__project{
  display: flex;
}
.header__text{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Lato M';
}
.header__left{
  margin-left: 5px;
}
.sale{
  padding: 153px 156px 185px 76px;
}
.sale__wraper{
  display: flex;
  justify-content: space-between;
}
.sale__left{
  margin-right: 61px;
  position: relative;
  z-index: 4;
}
.sale__left img{
  height: 100%;
}
.sale__right{
  padding: 51px 0;
}
.sale__right_title{
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071C35;
  /* max-width: 551px; */
  margin-bottom: 30px;
}
.sale__right_subtitle{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 50px;
  font-family: 'Lato L';
}
.sale__right_wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sale__right_procent{
  font-weight: 400;
  font-size: 44px;
  color: #071C35; 
}
.sale__right_desc{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
  text-align: left;
  font-family: 'Lato L';
}
.sale__button_itself{
  width: 200px;
  height: 40px;
  padding: 10px 60px;
  background: #071C35;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 4;
  font-family: 'Lato R';
}
.top{
  padding-bottom: 109px;
}
.top__title{
  font-weight: 400;
  font-size: 54px;
  color: #071C35;
  margin-bottom: 52px;
}
.top__wrapper_block{
  padding: 15px;
  border: 1px solid rgba(7, 28, 53, 0.1);
  width: 420px;
  height: 520px;
}
.top__wrapper_img{
  background: url('../images/firstScreen/JPEG/top1.jpg') center center / cover no-repeat;
  height: 100%;
  position: relative;
  z-index: 4;
}
.top_second{
  background: url('../images/firstScreen/JPEG/top2.jpg') center center / cover no-repeat;
}
.top_third{
  background: url('../images/firstScreen/JPEG/top3.jpg') center center / cover no-repeat;
}
.top__wrapper_footer{
  position: absolute;
  height: 100px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.5px);
  top: 420px;
  transform: translateY(-32%);
  width: 100%;
  padding: 22px 15px;
}
.top__wrapper_title{
  font-weight: 400;
  font-size: 25px;
}
.top__wrapper_subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'Lato R';
}
.top__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map{
  padding-left: 150px;
  position: relative;
  z-index: 4;
}
.map .container{
  background: url('../images/firstScreen/JPEG/map_bg.jpg') center center / cover no-repeat;
  position: relative;
  height: 810px;
}
.map__title{
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071C35;
  max-width: 457px;
  position: absolute;
  margin-top: 268px;
}
.metka{
  position: absolute;
  width: 116px;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 100px;
  left: 394px;
  font-weight: 500;
  font-size: 16px;
  color: #071C35;
  cursor: pointer;
  text-align: center;

}
.metka_second{
  bottom: 422px;
  left: 541px;
  line-height: 18px;
}
.metka_third{
  bottom: 555px;
  left: 668px;
  line-height: 17px;
}
.metka__text{
  margin-bottom: 5px;
  font-family: 'Lato M';
}
.metka__block{
  border: 5px solid #071C35;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.metka__block_circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #071C35;
}
.metka__block_third{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  top:22px;
}
.metka__block_text{
  background: white;
  padding: 12px 45px 30px 44px;
  font-weight: 500;
}
.flats{
  padding-top: 36px;
  padding-bottom: 96px;
  font-family: 'Lato M';
}
.flats__content{
  padding: 30px 65px 30px 30px;
  max-width: 310px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.03);
  max-height: 380px;
}

.flats__content_title{
  margin-bottom: 15px;
}
.flats__content_subtitle{
  display: flex;
  color: #777777;
}
.flats__content_subtitle input{
  margin-right: 10px;
}
.flats__content_subtitle:not(:last-child){
  margin-bottom: 18px;
}
.hov:hover{
  cursor: pointer;
}
.flats__content_active{
  color: #071C35 !important;
}
.flats__content_wrapper{
  margin-bottom: 28px;
}
.flats__offer_wrapper{
  padding:25px  25px 50px 25px;
  border: 1px solid #D9D9D9;
  margin-bottom: 90px;
}



@keyframes fade {
  from {
    opacity: 0.1;
  } to {
    opacity: 1;
  }
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
} 

.flats__offer_content{
  width: 920px;
  height: 570px;
  position: relative;
  margin-bottom: 50px;

}
.flats__offer_img1{
  background: url(../images/firstScreen/JPEG/com_header_1.jpg) center center / cover no-repeat;
  height: 100%;
}
.flats__offer_img2{
  background: url(../images/firstScreen/JPEG/com_hed_2.jpg) center center / cover no-repeat;
  height: 100%;
}
.flats__offer_img3{
  background: url(../images/firstScreen/JPEG/com_header_3.jpg) center center / cover no-repeat;
  height: 100%;
}
.flats__offer_footer{
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.1134px);
  bottom: 0;
  padding: 28px 47px;
}
.top__offer_title{
  font-size: 28.4536px;
  color: #071C35;
  font-family: "Alet";
  margin-bottom: 5px;
}
.top__offer_subtitle{
  font-family: 'Lato L';
  font-size: 15.1753px;
  line-height: 23px;
  color: #071C35;
}
.bed{
  margin-right: 8px;
}
.text__slider-title{
  font-family: 'Alet';
  margin-left: 80px;
  font-size: 30px;
  vertical-align: center;
}
.text__slider-wrapper{
  align-items: center;
  margin-bottom: 15px;
}
.offer__slider-counter{
  margin-right: 85px;
  font-size: 30px;
  font-family: 'Lato L';

}
#current{
  color: #071C35;
}
#total{
  color: #777;
}
.offer__slider-wrapper{
  position: relative;
  width: 710px;
  margin: 0 auto;
}
.offer__slider-arrows{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fa-long-arrow-left{
  position: absolute;
  right: 17px;
}
.fa-long-arrow-right{
  position: absolute;
  right: -820px;
  transform: rotate(180deg);
}

.offer__slider-descr{
  padding: 30px;
  padding-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.05);
}
.offer__slider-wrapper{
  display: flex;
}
.offer__slider-title{
  font-family: 'Alet';
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.offer__slider-subtitle{
  margin-bottom: 15px;
}
.offer__slider-desc{
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  font-family: 'Lato L';
}
.offer__slider-cost{
  font-family: 'Lato R';
  margin-bottom: 13px;
}
.offer_button button{
  width: 265px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 83px;
  font-family: 'Lato R';
  font-size: 14px;
  background: #071C35;
  outline: none !important;
  border:none;
}
.payment{
  padding-bottom: 196px;
}
.payment__block{
  position: relative;
  margin-bottom: 250px;
}
.payment__block-content{
  padding: 50px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(7.5px);
  width: 610px;
  height: 387px;
  position: absolute;
  top: 39%;
  right: 96px;
}
.payment__block-addition{
  width: 644px;
  height: 429px;
  top: 33%;
  left: 98px;
}
.payment__block-2{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.payment__block-title{
  font-family: 'Alet';
  font-size: 50px;
  text-transform: uppercase;
  color: #071C35;
  margin-bottom: 10px;
}
.payment__block-line{
  background: #071C35;
  opacity: 0.1;
  width: 236px;
  height: 1px;
  margin-bottom: 30px;
}
.payment__block-subtitle{
  font-family: 'Lato L';
  font-size: 16px;
  line-height: 24px;
  color: #071C35;
  margin-bottom: 26px;
}
.payment__block-button{
  padding: 11px 30px;
  border: 1px solid rgba(7, 28, 53, 0.15);
  background: white;
  text-transform: uppercase;
  font-size: 14px;
  color: #071C35;
  font-family: 'Lato R';
}
.prefooter{
  padding: 50px 0 ;
}
.speak__title{
  font-size: 44px;
  text-transform: uppercase;
  color: #071C35;
  margin-bottom: 20px;
}
.speak__subtitle{
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.speak__subtitle-text{
  width: 150px;
  font-family: 'Lato M';
  font-size: 16px;
  position: relative;
  right: -10px;

  
}
.speak__subtitle-text::before{
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #85DF99;
  z-index: -1;
  top: -50%;
  left: -17px;


}
.speak__subtitle-decr{
  margin-right: 70px;
  width: 430px;
  font-family: 'Lato L';
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}
.call input{
  width: 200px;
  height: 43px;
  font-family: 'Lato L';
  border:none;
  outline: none;
  border-bottom: 1px solid rgba(7, 28, 53, 0.1);
  padding: 10px;
}
.call input[type="submit"]{
  padding: 12px 45px;
  text-align: center;
  font-family: "Lato R";
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(7, 28, 53, 0.15);
  background: white;
  text-transform: uppercase;
  color: #071C35;

}
.call input:not(:last-child){
  margin-right: 30px;

}
.footer{
  padding: 80px 0;
  background: #071C35;

  font-family: 'Lato R';
}
.footer .container{
  position: relative;
}
.footer__girl{
  position: absolute;
  bottom: -80px;
  left: 0;
}
.footer__menu{
  margin-left: 400px;
  width: 515px;
  margin-right: 50px;
}
.footer__menu-link ul{
  width: 369px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF !important;
  font-family: 'Lato R';
}
.footer__menu-link{
  margin-bottom: 30px;
}
.footer__menu-tg a, .footer__menu-wa a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tg-text, .wa-text{
  font-size: 16px;
  color: #C3C3C3;
  margin-right: 10px;
}
footer .fab{
  color:white;
  font-size: 18px;
}
.footer__menu-number{
  font-size: 20px;
  color:white;
}
.footer__menu-number span{
  font-size: 20px;
  color: #C3C3C3;
  text-transform: uppercase;
  font-family: 'Lato R';
}
.footer__phone span{
  color: #C3C3C3;
  text-transform: uppercase;
}
.footer__logo{

}