@import url('./fonts.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Alet', sans-serif !important;
  font-weight: 400;
  background: white;
  position: relative;
  font-family: '';
}
a {
  text-decoration: none !important;
  color:white
}
a:hover{
  color:unset !important;
}
ul {
  list-style-type: none !important;
  padding: 0;
}
.hide{
  display: none;
}
.show{
    display: block;
  }
.present{
    display: inline-block;
  }
.cover{
  display: none;
}
.container{
  padding: 0;
}
/* First modal */

.modal{
  position: fixed;
  width: 100%;
  height: 100vh !important;
  top: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/firstScreen/JPEG/bgPop.jpg') center  center / cover no-repeat ;
  z-index: -5;
  opacity: 0;
  transition: 0.5s;
}


.modal__wrapper{
  position:fixed ;
  width: 100%;
  height: 100% !important;
  top: 0;
  height: 0;
  background: rgba(228, 228, 228, 0.85);
  border: 1px solid #000000;
  backdrop-filter: blur(15px);

}
.modal__wrapper-block{
  margin: 70px auto;
  width: 1080px;
  height: 670px;
  padding: 100px 0;
}
.modal__wrapper-wrapper{
  width: 100%;
  height: 100%;
  background: url('../images/firstScreen/JPEG/bgPopContent.jpg');
  /* background-position: 300px 0px; */
  background-repeat: no-repeat;
  background-size: contain;
}
.modal__wrapper-content{
  width: 100%;
  height: 100%;
  background: rgba(7, 28, 53, 0.75);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__wrapper-contact{
  width: 50%;
  padding: 196px 170px 200px 150px;
  background: rgba(7, 28, 53, 0.02);
  backdrop-filter: blur(7.5px);
  position: relative;
}
.modal__emaar{
  position: absolute;
  top: 40px;
  left: 40px;
}
.modal__wrapper-brochure{
  width: 50%;
  padding: 65px 115px 65px 75px;
  position: relative;
}
.contact-wrapper{
  width: 220px;
}
.brochure-wrapper{
  width: 350px;
}
.modal__wrapper-h4{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato R';
  color: white;
  margin-bottom: 30px;
}
.modal__wrapper-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: 'Lato R';
  color:white;
}
.modal__wrapper-social a{
  margin-right: 10px;
  color: #C3C3C3;
}
.modal__wrapper-h3{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 18px;

}
.close-btn{
  width: 50px;
  height: 120px;
  background: white;
  color: #000000;
  padding: 32px 11px;
  position: absolute;
  right: 0;
  top:184px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  transform: rotate(-180deg);
  border:none;


}
.close-btn span{
  writing-mode: vertical-rl;
  text-align: center;
  vertical-align:bottom;
  font-size: 14px;
  text-transform: uppercase;
}
.close-btn span:first-child{
  margin-bottom: 4px;
}

.input__brochure{
  font-size: 16px;
  padding: 9px 15px 12px 9px;
  text-align: left;
  color: #FFFFFF;
  background: none;
  width: 100%;
  outline: none;
  border:none;
  border-bottom:1px solid white;
  font-family: 'Lato L';
  margin-bottom: 30px;

}
.input__brochure::placeholder{
 color: white;
}
.input__brochure-submit{
  width: 100%;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  color: #071C35;
  font-family: 'Lato R';
  font-size: 14px;
}
.modal__link-brochure{
  color: #071C35;
  background: white;
}
/* Modal second */
.modal__wrapper-contact2{
   padding: 200px 80px 80px 80px;
   background: none;
   backdrop-filter: none;
}
.popup30{
  margin-bottom: 58px;
}
.contact-wrapper2{
  width: 100%;
}
.modal__wrapper-social2{
  justify-content: center;
}
.modal__wrapper-tg2{
  margin-right: 30px;
}
.close-btn2{
   top: 216px;

}
.brochure-wrapper2{
  height: 570px;
  width: 450px;
  padding: 83px 50px ;
  background: white;
}
.modal__wrapper-brochure2{
  padding: 0;
}
.brochure-wrapper2 .modal__wrapper-h3{
  color: #071C35;
}
.brochure-wrapper2 input::placeholder{
  color: #071C35;
}
.brochure-wrapper2 input:not(:last-child){
  border-bottom: 1px solid rgba(7, 28, 53, 0.1);
  color: #071C35;
}
.input__brochure-submit2{
  margin-bottom: 48px;
}
.brochure__link-wrapper a {
  text-transform: uppercase;
  color: #071C35;
  font-size: 14px;
}
.brochure__link-wrapper ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__brochure-submit2{
  background: #071C35;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border:none;
}
.line{
  background: #777777;
  opacity: 0.2;
  width: 1px;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.line_left{
  left: 384px;
}
.line_center{
  left: 783px;
}
.line_right{
  right:367px;
}
.header{
  padding: 309px 0px 70px 70px;
  background:url('../images/firstScreen/JPEG/bg_main\ 1.jpg') center center / cover no-repeat;
  position: relative;
  z-index: 4;
}
.header__card{
  width: 382px;
  height: 431px;
  padding: 30px 51px 50px 30px;
  background: rgba(7, 28, 53, 0.5);
  backdrop-filter: blur(7.5px);
}
.header__logo{
  margin-bottom: 30px;
  display: inline-block;
}
.header__line{
  height: 1px;
  width: 100px;
  background: white;
  margin-bottom: 30px;
}
.header__subtitle{
  max-width: 210px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.header__conditions_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header__conditions_procent{
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 40px;
}
.header__conditions_desc{
  width: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  font-family: 'Lato R';
}
.header__conditions{
  margin-bottom: 50px;
}
.header__project{
  display: flex;
}
.header__text{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Lato M';
}
.header__left{
  margin-left: 5px;
}
.sale{
  padding: 153px 156px 185px 76px;
}
.sale__wraper{
  display: flex;
  justify-content: space-between;
}
.sale__left{
  margin-right: 61px;
  position: relative;
  z-index: 4;
}
.sale__left img{
  height: 100%;
}
.sale__right{
  padding: 51px 0;
}
.sale__right_title{
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071C35;
  /* max-width: 551px; */
  margin-bottom: 30px;
}
.sale__right_subtitle{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 50px;
  font-family: 'Lato L';
}
.sale__right_wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sale__right_procent{
  font-weight: 400;
  font-size: 44px;
  color: #071C35; 
}
.sale__right_desc{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
  text-align: left;
  font-family: 'Lato L';
}
.sale__button_itself{
  width: 200px;
  height: 40px;
  padding: 10px 60px;
  background: #071C35;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 4;
  font-family: 'Lato R';
  border:none;
}
.top{
  padding-bottom: 109px;
}
.top__title{
  font-weight: 400;
  font-size: 54px;
  color: #071C35;
  margin-bottom: 52px;
}
.top__wrapper_block{
  padding: 15px;
  border: 1px solid rgba(7, 28, 53, 0.1);
  height: 520px;
}
.top__wrapper_block:not(:last-child){
  margin-right: 10px;
}
.top__wrapper_img{
  background: url('../images/firstScreen/JPEG/top1.jpg') center center / cover no-repeat;
  height: 100%;
  position: relative;
  z-index: 4;
}
.top_second{
  background: url('../images/firstScreen/JPEG/top2.jpg') center center / cover no-repeat;
}
.top_third{
  background: url('../images/firstScreen/JPEG/top3.jpg') center center / cover no-repeat;
}
.top__wrapper_footer{
  position: absolute;
  height: 100px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.5px);
  top: 420px;
  transform: translateY(-32%);
  width: 100%;
  padding: 22px 15px;
}
.top__wrapper_title{
  font-weight: 400;
  font-size: 25px;
}
.top__wrapper_subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'Lato R';
}
.top__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map{
  padding-left: 150px;
  position: relative;
  z-index: 4;
}
.map .container{
  background: url('../images/firstScreen/JPEG/map_bg.jpg') center center / cover no-repeat;
  position: relative;
  height: 810px;
}
.map__title{
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071C35;
  max-width: 457px;
  position: absolute;
  margin-top: 268px;
}
.metka{
  position: absolute;
  width: 116px;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 100px;
  left: 394px;
  font-weight: 500;
  font-size: 16px;
  color: #071C35;
  cursor: pointer;
  text-align: center;

}
.metka_second{
  bottom: 422px;
  left: 541px;
  line-height: 18px;
}
.metka_third{
  bottom: 555px;
  left: 668px;
  line-height: 17px;
}
.metka__text{
  margin-bottom: 5px;
  font-family: 'Lato M';
}
.metka__block{
  border: 5px solid #071C35;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.metka__block_circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #071C35;
}
.metka__block_third{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  top:22px;
}
.metka__block_text{
  background: white;
  padding: 12px 45px 30px 44px;
  font-weight: 500;
}
.flats{
  padding-top: 36px;
  padding-bottom: 96px;
  font-family: 'Lato M';
}
.flats__content{
  padding: 30px 65px 30px 30px;
  max-width: 310px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.03);
  max-height: 380px;
}

.flats__content_title{
  margin-bottom: 15px;
}
.flats__content_subtitle{
  display: flex;
  color: #777777;
}
.flats__content_subtitle input{
  margin-right: 10px;
}
.flats__content_subtitle:not(:last-child){
  margin-bottom: 18px;
}
.hov:hover{
  cursor: pointer;
}
.flats__content_active{
  color: #071C35 !important;
}
.flats__content_wrapper{
  margin-bottom: 28px;
}
.flats__offer_wrapper{
  padding:25px  25px 50px 25px;
  border: 1px solid #D9D9D9;
  margin-bottom: 90px;
}



@keyframes fade {
  from {
    opacity: 0.1;
  } to {
    opacity: 1;
  }
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
} 

.flats__offer_content{
  width: 920px;
  height: 570px;
  position: relative;
  margin-bottom: 50px;

}
.flats__offer_img1{
  background: url(../images/firstScreen/JPEG/com_header_1.jpg) center center / cover no-repeat;
  height: 100%;
}
.flats__offer_img2{
  background: url(../images/firstScreen/JPEG/com_hed_2.jpg) center center / cover no-repeat;
  height: 100%;
}
.flats__offer_img3{
  background: url(../images/firstScreen/JPEG/com_header_3.jpg) center center / cover no-repeat;
  height: 100%;
}
.flats__offer_footer{
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.1134px);
  bottom: 0;
  padding: 28px 47px;
}
.top__offer_title{
  font-size: 28.4536px;
  color: #071C35;
  font-family: "Alet";
  margin-bottom: 5px;
}
.top__offer_subtitle{
  font-family: 'Lato L';
  font-size: 15.1753px;
  line-height: 23px;
  color: #071C35;
}
.bed{
  margin-right: 8px;
}
.text__slider-title{
  font-family: 'Alet';
  margin-left: 80px;
  font-size: 30px;
  vertical-align: center;
}
.text__slider-wrapper{
  align-items: center;
  margin-bottom: 15px;
}
.offer__slider-counter{
  margin-right: 85px;
  font-size: 30px;
  font-family: 'Lato L';

}
#current{
  color: #071C35;
}
#total{
  color: #777;
}
.offer__slider-wrapper{
  position: relative;
  width: 710px;
  margin: 0 auto;
}
.offer__slider-arrows{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fa-long-arrow-left{
  position: absolute;
  right: 17px;
}
.fa-long-arrow-right{
  position: absolute;
  right: -820px;
  transform: rotate(180deg);
}

.offer__slider-descr{
  padding: 30px;
  padding-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.05);
}
.offer__slider-wrapper{
  display: flex;
}
.offer__slider-title{
  font-family: 'Alet';
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.offer__slider-subtitle{
  margin-bottom: 15px;
}
.offer__slider-desc{
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  font-family: 'Lato L';
}
.offer__slider-cost{
  font-family: 'Lato R';
  margin-bottom: 13px;
}
.offer_button button{
  width: 265px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 83px;
  font-family: 'Lato R';
  font-size: 14px;
  background: #071C35;
  outline: none !important;
  border:none;
}
.payment{
  padding-bottom: 196px;
}
.payment__block{
  position: relative;
  margin-bottom: 250px;
}
.payment__block-content{
  padding: 50px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(7.5px);
  width: 610px;
  height: 387px;
  position: absolute;
  top: 39%;
  right: 96px;
}
.payment__block-addition{
  width: 644px;
  height: 429px;
  top: 33%;
  left: 98px;
}
.payment__block-2{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.payment__block-title{
  font-family: 'Alet';
  font-size: 50px;
  text-transform: uppercase;
  color: #071C35;
  margin-bottom: 10px;
}
.payment__block-line{
  background: #071C35;
  opacity: 0.1;
  width: 236px;
  height: 1px;
  margin-bottom: 30px;
}
.payment__block-subtitle{
  font-family: 'Lato L';
  font-size: 16px;
  line-height: 24px;
  color: #071C35;
  margin-bottom: 26px;
}
.payment__block-button{
  padding: 11px 30px;
  border: 1px solid rgba(7, 28, 53, 0.15);
  background: white;
  text-transform: uppercase;
  font-size: 14px;
  color: #071C35;
  font-family: 'Lato R';
}
.prefooter{
  padding: 50px 0 ;
}
.speak__title{
  font-size: 44px;
  text-transform: uppercase;
  color: #071C35;
  margin-bottom: 20px;
}
.speak__subtitle{
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.speak__subtitle-text{
  width: 150px;
  font-family: 'Lato M';
  font-size: 16px;
  position: relative;
  right: -10px;

  
}
.speak__subtitle-text::before{
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #85DF99;
  z-index: -1;
  top: -50%;
  left: -17px;


}
.speak__subtitle-decr{
  margin-right: 70px;
  width: 430px;
  font-family: 'Lato L';
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}
.call input{
  width: 200px;
  height: 43px;
  font-family: 'Lato L';
  border:none;
  outline: none;
  border-bottom: 1px solid rgba(7, 28, 53, 0.1);
  padding: 10px;
}
.call input[type="submit"]{
  padding: 12px 45px;
  text-align: center;
  font-family: "Lato R";
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(7, 28, 53, 0.15);
  background: white;
  text-transform: uppercase;
  color: #071C35;

}
.call input:not(:last-child){
  margin-right: 30px;

}
.footer{
  padding: 80px 0;
  background: #071C35;

  font-family: 'Lato R';
}
.footer .container{
  position: relative;
}
.footer__girl{
  position: absolute;
  bottom: -80px;
  left: 0;
}
.footer__menu{
  margin-left: 400px;
  width: 515px;
  margin-right: 50px;
}
.footer__menu-link ul{
  width: 369px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF !important;
  font-family: 'Lato R';
}
.footer__menu-link{
  margin-bottom: 30px;
}
.footer__menu-tg a, .footer__menu-wa a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tg-text, .wa-text{
  font-size: 16px;
  color: #C3C3C3;
  margin-right: 10px;
}
footer .fab{
  color:white;
  font-size: 18px;
}
.footer__menu-number{
  font-size: 20px;
  color:white;
}
.footer__menu-number span{
  font-size: 20px;
  color: #C3C3C3;
  text-transform: uppercase;
  font-family: 'Lato R';
}
.footer__phone span{
  color: #C3C3C3;
  text-transform: uppercase;
}
/* Project  */
.nav__project{
  background: white;
  padding: 35px 0;
}
.nav__project .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__project{
  font-family: 'Alet';
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #071C35;
}
.close__project span{
  margin-right: 10px;
}
.close__project span{
  font-size: 14px;
  text-transform: uppercase;
  color: #071C35;
  font-family: 'Lato R';
}
.header__project {
  position: relative;
}
.header__project img{
  width: 100%;
  height: 100%;
}
.project__block{
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(7.5px);
  padding: 50px;
  padding-left: 30px;
  padding-right: 30px;
  height: 620px;
  width: 306px;
  top: 170px;
  left: 140px;
}
.project__block-form{
  display: flex;
  align-items: center;
}
.project__block-text{
  margin-right: 8px;
}
.project__block-text{
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #071C35;
  font-family: 'Lato L';
}
.project__line{
  width: 145px;
  height: 1px;
  background: #000;
  background: #071C35;
  opacity: 0.1;
}
.project__line:nth-child(2){
  width: 80px;
}
.project__line:nth-child(3){
  width: 17px;
}
.project__line:nth-child(4){
  width: 75px;
}
.project__block-descr{
  font-size: 30px;
  color: #071C35;
}

.project__block-descr{
  margin-bottom: 45px;
}
.otstup{
  margin-bottom: 35px;
}
.project__block-button{
  width: 200px;
  height: 40px;
  background: #071C35;
  opacity: 0.4;
  font-family: 'Lato R';
  color: white;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border:none;
  margin-left: 13px;
}
.project__text{
  position: absolute;
  width: 860px;
  font-size: 20px;
  line-height: 140%;
  color: #777777;
  font-family: 'Lato L';
  top: 650px;
  left: 510px;
}
.body{
  height: 123123px;
}

.map__view{
  padding-top: 400px;
}
.map__view-block{
  width: 200px;
  height: 175px;
}
.map__view-img,.map__view-img2{
  text-align: center;
  margin-bottom: 17px;
}
.map__view-title,.map__view-title2{
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #777777;
  font-family: 'Lato L';
  text-align: center;
}
.map__view-subtitle,.map__view-subtitle2{
  font-size: 30px;
  font-family: 'Lato R';
  text-transform: uppercase;
  color: #071C35;
  text-align: center;
}
.map__view-wrapper{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 111px;
}
.map__view-block{
  position: relative;
 }
 .map__view-subtitle{
  position: relative;
 }
.map__view-block::after{
 content: "";
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 padding-top: 7px;
 height: 48px !important;
 width: 2px !important;
 background: black;
}
.first_block::after{
  height: 52px !important;
}
.second_block::after{
  height: 48px !important;
}
.third_block::after{
  height: 46px !important;
}
.fourth_block::before{
  height: 38px !important;
  top: -72px !important; 
}
.fifth_block::before{
  height: 38px !important;
  top: -54px !important; 
}
.first_img::before{
  top: -80px !important;
}
.first_img::before{
  top: -80px !important;
}
.second_img::before{
  top: -62px !important;
}
.map__view-subtitle::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #071C35;
  top: 65px;
  right: 92px;
}
.first_subtitle::after{
  top: 87px !important;
}
.second_subtitle::after{
  top: 84px !important;
}
.third_subtitle::after{
  top: 82px !important;
}
.map__view-second{
  width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__view-block2{
  position: relative;
}
.map__view-block2::before{
  content: "";
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background: #071C35;
}
.map__view-img2{
  position: relative;
}
.map__view-img2::before{
  content:"";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #071C35;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}
.button__map button{
  width: 150px;
  background: #071C35;
  height: 40px;
  font-size: 14px;
  font-family: 'Lato R';
  border:none;
  color:white;
  text-transform: uppercase;
}
.button__map{
  align-self: flex-start;
}
.map__view .container{
  position: relative;
}
.main__line{
  position: absolute;
  width: 100%;
  height: 2px;
  background: #071C35;
  top: 232px;
}